body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

/* global styles */
h2 {
  color: #7364e3;
  font-size: 24px;
}
li {
  list-style: none;
}
a,
p {
  text-decoration: none;
  color: #29323d;
  font-size: 1rem;
}

/*common style*/

/*custom style*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  gap: 20px;
}
